.fondo{
    background-image: url(../KindheartedFairDowitcher-size_restricted.gif);
    background-repeat: no-repeat; 
    background-size: cover; 
    /* background-color: tomato; */
    height: 536px;
    padding: 20px;
    color: white;

}

.btn{
    background-color: rgb(61, 6, 83);
    border-radius: 24px;
    color:white;
    border-width: thin;
    margin: 40px;
    padding:18px;
    margin-bottom: 200px;
    width: 280px;
    text-decoration:none;
    /* display:inline-block;     */

    }
        
.btn:hover{
    background-color: rgb(72, 38, 85);
    }

.text{
    text-shadow: 0 4px 0 rgb(0, 0, 0);
}

.img{
  padding-top: 100px;
}